* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-app);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  /* Base */
  --bg-app: #f5f6f8;
  --bg-canvas: #ffffff;

  /* Panels */
  --bg-panel: #e4e7eb;
  --border-panel: #c2c6cc;

  /* Footer / Tools */
  --bg-toolbar: #1f2933;
  --border-toolbar: #111827;

  /* Cards */
  --card-bg: #d1d5db;
  --card-hover: #9ca3af;

  /* Accents */
  --accent-primary: #2563eb;
  --accent-secondary: #0f172a;

  /* Text */
  --text-primary: #0f172a;
  --text-secondary: #475569;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  .layers {
    height: 100%;
    width: 15rem;
    background-color: var(--bg-panel);
  }

  .properties {
    height: 100%;
    width: 18rem;
    background-color: var(--bg-panel);
  }

  .layers {
    border-right: 1px solid var(--border-panel);

    .top {
      margin-block: 1rem;
      margin-inline: 1rem;
      display: flex;
      justify-content: space-between;
      img {
        display: block;
        width: 3rem;
        aspect-ratio: 1/1;
      }

      h1 {
        color: var(--text-primary);
      }
    }

    .line {
      height: 2px;
      width: 100%;
      background-color: var(--bg-toolbar);
      border-radius: 3rem;
    }

    .title {
      p {
        font-weight: 700;
        padding: 0.5rem;
        color: var(--text-primary);
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 0.24rem;
      padding-block: 0.75rem;
      padding-inline: 0.4rem;

      .selected {
        outline: 1px solid #0f172a;
      }
    }
  }

  .properties {
    border-left: 1px solid var(--border-panel);
    overflow-y: auto;

    h3 {
      padding: 0.65rem 0.5rem;
      color: var(--text-primary);
    }
    .line {
      height: 2px;
      width: 100%;
      background-color: var(--bg-toolbar);
      border-radius: 3rem;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      gap: 0.5rem;

      .dimensions {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: column;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }
        .content {
          display: flex;
          gap: 2%;
          justify-content: center;
          .width,
          .height {
            display: flex;
            width: 48%;
            background-color: #ffffff;
            outline: 1px solid var(--accent-secondary);
            border-radius: 0.2rem;
            gap: 0.4rem;
            span {
              display: grid;
              place-items: center;
              min-width: 1.4rem;
              font-size: 1.2rem;
              font-weight: 700;
              color: var(--text-secondary);
              border-right: 2px solid var(--text-secondary);
            }
            input {
              width: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              color: var(--text-secondary);
              font-size: 1.2rem;
              font-weight: 500;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      .position {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: column;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }
        .content {
          display: flex;
          gap: 2%;
          justify-content: center;
          .x,
          .y {
            display: flex;
            width: 48%;
            background-color: #ffffff;
            outline: 1px solid var(--accent-secondary);
            border-radius: 0.2rem;
            gap: 0.4rem;
            span {
              display: grid;
              place-items: center;
              min-width: 1.4rem;
              font-size: 1.2rem;
              font-weight: 700;
              color: var(--text-secondary);
              border-right: 2px solid var(--text-secondary);
            }
            input {
              width: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              color: var(--text-secondary);
              font-size: 1.2rem;
              font-weight: 500;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      .zIndex {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.2rem;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }

        .content {
          display: flex;
          gap: 2rem;
          .increase,
          .decrease {
            width: 2rem;
            height: 2rem;
            border: 2px solid var(--text-secondary);
            img {
              width: 100%;
            }
            &:active {
              transform: scale(0.8);
            }
          }
        }
      }

      .appearance {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: column;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }
        .content {
          display: flex;
          gap: 2%;
          justify-content: center;
          .opacity,
          .corner {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            width: 48%;
            p {
              font-size: 1.2rem;
              font-weight: 700;
              color: var(--text-secondary);
            }
            input {
              border-radius: 0.2rem;
              padding-inline: 0.2rem;
              width: 100%;
              background-color: #ffffff;
              border: none;
              outline: 1px solid var(--accent-secondary);
              color: var(--text-secondary);
              font-size: 1.2rem;
              font-weight: 500;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      .fill {
        display: flex;
        flex-direction: column;
        padding-inline: 0.3rem;
        gap: 0.5rem;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }

        input {
          width: 30%;
        }
      }

      .textContent {
        display: flex;
        flex-direction: column;
        padding-inline: 0.3rem;
        gap: 0.5rem;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }
        textarea {
          padding-inline: 0.25rem;
          padding-block: 0.25rem;
          font-size: 1rem;
          color: var(--text-secondary);
          font-weight: 400;
          height: 9rem;
          resize: none;
          overflow-y: auto;
        }
      }

      .exportButtons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        p {
          font-size: 1.2rem;
          font-weight: 700;
          color: var(--text-primary);
        }
        .content {
          display: flex;
          gap: 0.23rem;
          align-items: center;
          justify-content: center;
          .html,
          .json {
            background-color: var(--bg-toolbar);
            width: 8rem;
            border-radius: 0.25rem;
            display: grid;
            place-items: center;
            cursor: pointer;
            h3 {
              font-weight: 700;
              font-size: 1.4rem;
              width: fit-content;
              color: var(--bg-panel);
            }

            &:active {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }

  .canvas {
    flex: 1;
    height: 100vh;
    background-color: var(--bg-canvas);
    position: relative;

    .element {
      position: absolute;
      cursor: grab;
    }

    .element:active {
      cursor: grabbing;
    }

    .element.selected {
      outline: 2px solid var(--selected-outline);
      outline-style: dashed;
    }

    .resize {
      width: 10px;
      height: 10px;
      position: absolute;
      background: rgb(0, 0, 0);
      border: 1px solid black;
    }

    .resize {
      display: none;
    }

    .element.selected .resize {
      display: block;
    }

    .resize.br {
      right: -5px;
      bottom: -5px;
      cursor: se-resize;
    }
    .resize.bl {
      left: -5px;
      bottom: -5px;
      cursor: sw-resize;
    }
    .resize.tr {
      right: -5px;
      top: -5px;
      cursor: ne-resize;
    }
    .resize.tl {
      left: -5px;
      top: -5px;
      cursor: nw-resize;
    }
  }

  footer {
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-toolbar);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border-toolbar);
    z-index: 999999;

    .selectionCard {
      width: 3rem;
      height: 3rem;
      background-color: var(--card-bg);
      border-radius: 0.4rem;
      display: grid;
      place-items: center;
      cursor: pointer;

      transition:
        transform 0.25s ease,
        background-color 0.25s ease;

      &:hover {
        background-color: var(--card-hover);
        transform: scale(1.15) translateY(-20%);
      }

      &:hover + .selectionCard,
      &:has(+ .selectionCard:hover) {
        transform: scale(1.05) translateY(-10%);
      }
    }

    .rect-box {
      .square {
        width: 70%;
        height: 70%;
        background-color: var(--accent-secondary);
        border-radius: 0.15rem;
      }
    }

    .text-box {
      h3 {
        font-size: 1.4rem;
        color: var(--accent-secondary);
        font-weight: 600;
      }
    }
  }
}
